.productos{
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 600px;
}

body{
    background-color: #86e970a4;
}

.col{
    margin-bottom: 100px;
}

button{
    background-color: #73C25D;
}